/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #1f1f1f;
  --grey-color-light: #aaa;
}
